body {
  background-color: #585884;
}

h1 {
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  color: white;
}

.tic-tac-board {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  left: 50%;
  right: 50%;
}

.box {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.ramen {
  background-image: url("https://image.flaticon.com/icons/png/128/774/774953.png");
  background-size: contain;
}

.sushi {
  background-image: url("https://image.flaticon.com/icons/png/128/774/774912.png");
  background-size: contain;
}



